#carousel {
    height: 80vh;
}
.logo {
    width: 90px;
    height: 70px;
    border: none;
}
.text {
    text-decoration: none;
    color: white;
}
.sign {
    text-decoration: none;
    color: black;
}

