#carousel {
    height: 80vh;
}
.logo {
    width: 85px;
    height: 60px;
    border-radius: 5px;
}
.text {
    text-decoration: none;
} 

.favorite{
    border: none;
    background-color: white;
}
#available {
    width: 8vw;
    border-radius: 5px;
    margin: 3px;
}